{% extends 'base.html' %}
{% load static %}
{% block content %}
<p id = 'page-desc'>{{ description }}</p>

<noscript><br/>
    <p id = 'no-JS-message'>
        This browser does not have JavaScript enabled! Enable JavaScript on this browser for a more complete viewing experience on this website
    </p>
</noscript>

<div class = "spacer2"></div>

<section class = "thumbnail-gallery thumbnail-gallery-js-enabled" data-featherlight-gallery data-featherlight-filter="a">
    {% for image in images %}
    <a href="{{ image.full_image_file.url }}" class="gallery">
        <img class="{% if image.portrait %}portrait{% endif %}" data-src="{{ image.thumbnail.url }}">
    </a>
    {% endfor %}
</section>

{% endblock %}

