{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name = "description" content = "Photography and paintings by Heikal Badrulhisham.">
    <meta name = "author" content = "Heikal Badrulhisham">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>heikal b: photography, paintings</title>
    <link rel="stylesheet" type="text/css">
</head>
<body class="darkable">
    {% include 'navbar.html' %}
    {% block content %}
    {% endblock %}
    {% include 'footer.html'
</body>
</html>