<header id = "site-header" class = 'darkable'>
    <span id = "site-title">
        Heikal Badrulhisham
    </span>
    <span id = "page-links">
        <span id="photography-subpages">
            <a href="index.html" class = "current-page-link">Photography</a>{
            <a href="birds.html">birds</a>
            <a href="waterfowls.html">waterfowls</a>
            <a href="madison.html" >madison, wi</a>
            <a href="other.html">other</a>}
        </span>
            <a href="art.html">Paintings</a>
            <a href="contact.html">Contact</a>
    </span>
</header>