<header id = "site-header" class = 'darkable'>
    <span id = "site-title">Heikal Badrulhisham</span>
    <span id = "page-links">
        <span id="photography-subpages">
            <a href="/photography" class = "current-page-link">Photography</a>{
            <a href="/birds">birds</a>
            <a href="/waterfowls">waterfowls</a>
            <a href="/madison" >madison, wi</a>
            <a href="/other">other</a>}
        </span>
            <a href="/paintings">Paintings</a>
            <a href="/contact">Contact</a>
    </span>
</header>